/*
    selectDropdownStyles.css - normalize experimental pseudo-elements used for enhanced native selects
   Note: contains non-standard pseudo-elements `::picker` and `::checkmark`.
 */


@media (pointer: fine) {
    /* noinspection CssInvalidPseudoSelector */
    select,
    ::picker(select) {
        /* noinspection CssInvalidPropertyValue */
        appearance: base-select;
    }

    /* noinspection CssInvalidPseudoSelector */
    option::checkmark {
        order: 1;
        margin-left: auto;
        content: "✦";
    }
}

/* @formatter:on */
