@import "tailwindcss";

@layer components {
    .anime-card {
        background-color: var(--color-white);
        border-radius: var(--radius-lg);
        padding: --spacing(6);
        box-shadow: var(--shadow-xl);
    }

    .anime-card-title {
        @apply text-2xl font-bold mb-4;
    }
}