@import "tailwindcss";

@layer base {
    button {
        cursor: pointer;
    }

    body {
        color: var(--color-primary-muted-standard);
    }

}

@layer components {
    .anime-card {
        position:relative;
        background-color: var(--color-primary-muted-dark);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-xl);
        width: 240px;
        overflow: hidden;

        @apply max-lg:w-[200px] max-md:w-[140px]
    }


    .anime-card-title {
        @apply text-2xl font-bold mb-4;
    }

    .anime-card-rating-container {
        position: absolute;
        top: 4px;
        right: 4px;
        box-shadow: 0 0 2px rgba(0, 0, 0);
        min-width: 3.4rem;
        min-height: 1.25rem;
        border-radius: var(--radius-2xl);
        z-index: 1;
        background-color: var(--color-primary-base-dark);

        @apply max-md:min-w-[3rem]


    }
}