@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--color-primary-greyed-superdark);
}
